<HTML>
    <HEAD>
        <TITLE>Road Checkup</TITLE>
    </HEAD>
 
    <BODY>
        <a href="home.html">Home</a> <b>|</b>
<a href="about.html">About us</a> <b>|</b>
<a href="Contact.html">Contact Us</a><b> |</b>
<a href="feedback.html">Provide FeedBack</a>
<br> <br> <br>
        <FORM action="Conges.jsp" method="post">
            Enter the road id where congestion is found:
            <BR>
            <INPUT TYPE="text" NAME="id">
            <BR>
            <INPUT TYPE="submit" value="Submit">
        </FORM>
    </BODY>
<HTML>